body {
  background-color: black;
}

header {
  margin: 15px 0;
  text-align: center;
}

.container {
  background-color: darkgrey;
  padding-top: 10px;
}

.card {
  padding: 15px;
  margin-bottom: 15px;
}
